[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Copy Downloaded Movies
Name[en_US]=Copy Downloaded Movies
Icon=xmms
Exec=/home/kodi/.kodi/addons/script.moviecopy/resources/cmdline/moviecopy
Comment[en_US]=
Path=/home/kodi/.kodi/addons/script.moviecopy/resources/cmdline/
GenericName=Kodie Movie Copier
